.title-wrapper.text-center.panel.panel-default
  %h1 Companies Test App

%div(ng-controller='companiesCtrl')
  %search-form
  .col-xs-12.new-company-wrapper.text-left
    %button.btn.btn-info(ng-click='openNewCompanyModal()') Create a new company
  %companies-list
